*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#050816;
    color:white;
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:250px;
    background:#0b1020;
    border-right:1px solid #00ffee44;
    padding:30px;
}

.sidebar h1{
    color:#00ffee;
    margin-bottom:20px;
}

.status{
    color:#00ff88;
    font-size:18px;
}

.main{
    flex:1;
    display:flex;
    flex-direction:column;
}

.chat-area{
    flex:1;
    padding:20px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.jarvis-message,
.user-message{
    max-width:70%;
    padding:15px;
    border-radius:15px;
    line-height:1.5;
}

.jarvis-message{
    background:#111827;
    border:1px solid #00ffee55;
    align-self:flex-start;
}

.user-message{
    background:#00ffee;
    color:black;
    align-self:flex-end;
}

.input-area{
    display:flex;
    padding:20px;
    gap:10px;
    background:#0b1020;
}

input{
    flex:1;
    padding:15px;
    border:none;
    outline:none;
    background:#111827;
    color:white;
    border-radius:10px;
    font-size:16px;
}

button{
    padding:15px 25px;
    border:none;
    border-radius:10px;
    background:#00ffee;
    color:black;
    font-weight:bold;
    cursor:pointer;
}